.exampleone {
    background-color: rgb(37, 32, 2);
    color:rgb(118, 243, 16);  }
  
  .exampletwo {
    background-color: rgb(167, 209, 51);
    color: rgb(255,255,204);
  }
  
  .examplethree {
    background-color: #777799;
    color: #ffffff;
  }
  