.exampleone {
    background-color: teal;
    color: rgb(224, 18, 18);
  }
  
  .exampletwo {
    background-color: rgb(167, 209, 51);
    color: rgb(255,255,204);
  }
  
  .examplethree {
    background-color: #777799;
    color: #ffffff;
  }
  